---
import BaseLayout from '@/layouts/BaseLayout.astro'
import StudentCard from '@/components/StudentCard.astro'
---

<BaseLayout title="Our Team">
  <article class="max-w-6xl mx-auto px-4 py-6 sm:py-12">
    <section class="mb-12">
      <h2 class="text-xl font-semibold text-indigo-700 dark:text-indigo-400 mb-6">Research Scholars</h2>

      <div class="space-y-6">
        <StudentCard
          name="Vaishnavi N"
          role="Research Scholar"
          startDate="Aug 2024"
          imageSrc="/Vaishnavi.jpg"
          description={`Hey there! I’m Vaishnavi N, a research scholar at the Mehta Family School of Data Science and Artificial Intelligence, IIT Guwahati. I explore the fascinating intersection of brains and machines — building systems that not only think but adapt. My work focuses on neuro-inspired AI, computer vision, TinyML, and continual learning — shaping AI that evolves like we do.

When I'm not training machines to be a little more human, you’ll find me painting walls into stories or swimming my way through ideas.`}
          email="n.vaishnavi@iitg.ac.in"
          compact={false}
        />

        <StudentCard
          name="Kartikay Agrawal"
          role="Research Scholar"
          startDate="Jan 2024"
          imageSrc="/Kartikay.png"
          description={`“Curiosity kills a cat, not a Research Scholar”

I am Kartikay, a research scholar at the Mehta Family School of Data Science and Artificial Intelligence, IIT Guwahati. I like diving into understanding brain mechanisms and translating them into neuroscience-inspired, efficient ML algorithms. After all, what’s an algorithm without math standing over it with a stick, demanding it confess its crimes?

When I’m not wrangling data or debugging code, you’ll probably find me in an amphitheatre or a stage (probably with my guitar). Basically, I try to balance logic with a little bit of drama.`}
          email="a.kartikay@iitg.ac.in"
          compact={false}
        />
      </div>
    </section>

    <!-- Future Sections
    <section class="mb-10">
      <h2 class="text-xl font-semibold text-indigo-700 dark:text-indigo-400">Master Students</h2>
    </section>

    <section class="mb-10">
      <h2 class="text-xl font-semibold text-indigo-700 dark:text-indigo-400">B-Tech Students</h2>
    </section>

    <section class="mb-10">
      <h2 class="text-xl font-semibold text-indigo-700 dark:text-indigo-400">Interns</h2>
    </section>
    -->

    <section class="mb-12">
      <h2 class="text-xl font-semibold text-indigo-700 dark:text-indigo-400 mb-6">Alumni</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <StudentCard
          name="Prakhar Shankar"
          role="Master Student (Cosupervised)"
          presentAffiliation="Indus Insights"
          compact={true}
        />
        <StudentCard
          name="Anjali Jaiswal"
          role="Masters (Cosupervised)"
          presentAffiliation="Tata Electronics"
          compact={true}
        />
        <StudentCard
          name="Tanurima Halder"
          role="Masters (Cosupervised)"
          presentAffiliation="IIT Bombay"
          compact={true}
        />
        <StudentCard
          name="Aditya Gupta"
          role="B-Tech"
          presentAffiliation="MS Student, Carnegie Mellon University"
          compact={true}
        />
        <StudentCard name="Pokala Rithuraj" role="B-Tech" presentAffiliation="Tata Electronics" compact={true} />
        <StudentCard
          name="Pushkal Mishra"
          role="B-Tech"
          presentAffiliation="PhD student, University of California-San Diego"
          compact={true}
        />
        <StudentCard
          name="Aditya Somasundaram"
          role="B-Tech"
          presentAffiliation="MS Student, Columbia University"
          compact={true}
        />
        <StudentCard
          name="Ameya Chatur"
          role="B-Tech"
          presentAffiliation="MS Student, Johns Hopkins University"
          compact={true}
        />
        <StudentCard
          name="Syed Saqib Habeeb"
          role="B-Tech"
          presentAffiliation="MS Student, Rice University"
          compact={true}
        />
        <StudentCard
          name="Venkata Raghav Ambati"
          role="B-Tech"
          presentAffiliation="AI/ML Engineer, Realpage"
          compact={true}
        />
      </div>
    </section>
  </article>
</BaseLayout>
